/*======COLORS======*/
$red: #ef4136;
$red25: rgba(239, 65, 54, 0.25);
$red15: rgba(182, 0, 0, 0.15);
$dark: #333333;
$white: #ffffff;
$white15: rgba(241, 242, 242, 0.15);
$white50: rgba(241, 242, 242, 0.5);
$black: #000000;
$black50: rgba(0,0,0,0.5);
$gray: #777777;
$gray-soft-soft: #f1f2f2;
$gray-soft: #d7dce0;
$black-soft: #030f1c;
$black-primary: #1d1d1b;

$gray-light: #eeeeee;




/*======BACKGROUND COLORS======*/
$background-black:#000;
$background-white:#fff;


/*======FONTS======*/


$RobotoBold: 'Roboto-Bold';
$RobotoLight: 'Roboto-Light';
$Roboto: 'Roboto';

