.faq-control {
    padding-left: 8.75%;
    padding-right: 8.75%;
    padding-top: 50px;
    .left-list-control {
        .list-group-item {
            background-color: $gray-light;
            margin-bottom: 2px;
            color: $black;
            font-family: $Roboto;
            font-size: 16px;
            border: none;
            border-radius: 0px;
            cursor: pointer;
        }
        .selected {
            color: $red;
        }
    }
    h1 {
        font-size: 40px;
        line-height: 50px;
    }
    .faq-group-title {
        font-size: 16px;
        color: $red;
        padding-top: 8px;
        padding-bottom: 8px;
        border-bottom: 1px solid $red;
        cursor: pointer;
    }
    .faq-item {
        padding-top: 12px;
        padding-bottom: 12px;
        .faq-item-answer {
            padding-top: 12px;
            padding-bottom: 12px;
            p {
                color: $gray;
            }
        }
        .faq-item-question-control {
            cursor: pointer;
            .faq-item-question {
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 16px;
                line-height: 30px;
                font-family: $RobotoLight;
            }
            .faq-item-question-opened {
                p {
                    font-family: $Roboto;
                }
            }
            .faq-item-question-closed {
                p {
                    font-family: $RobotoLight;
                }
            }
        }
    }
}
