.insplosion-collections-control {
    padding-bottom: 55px;
}

.carousel-indicators li {
    background-color: $black;
}

.collection-small-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.item-shadow-effect {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.small-slide-item {
    width: 100%;
    .carousel-control-next {
        .carousel-control-next-icon {
            background-image: url('@/assets/images/basic/arrow-right-gray.png');
            width: 40px;
            height: 40px;
        }
    }
    .carousel-control-prev {
        .carousel-control-prev-icon {
            background-image: url('@/assets/images/basic/arrow-left-gray.png');
            width: 40px;
            height: 40px;
        }
    }
    .carousel-item {
        width: 100%;
        padding-bottom: 50px;
        padding-top: 30px;
        img {
            padding-bottom: 50px;
        }
        
        .carousel-caption {
            h3 {
                font-size: 14px;
                line-height: 22px;
                color: $black;
                font-family: $RobotoBold;
            }
            p {
                font-size: 12px;
                line-height: 20px;
                color: $black
            }
        }
    }
    .carousel-inner {
        border-radius: 6px;
    }
    
    .carousel-indicators {
        padding-bottom: 10px;
    }
    margin: 10px;
}

.big-slide-item {
    width: 100%;
    h3 {
        font-size: 30px;
        font-family: $Roboto;
        color: $black;
        padding-top: 30px;
    }
    .carousel-control-next {
        .carousel-control-next-icon {
            background-image: url('@/assets/images/basic/arrow-right-gray.png');
            width: 40px;
            height: 40px;
        }
    }
    .carousel-control-prev {
        .carousel-control-prev-icon {
            background-image: url('@/assets/images/basic/arrow-left-gray.png');
            width: 40px;
            height: 40px;
        }
    }
    .carousel-item {
        width: 100%;
        padding-left: 25%;
        padding-bottom: 25%;
        padding-right: 25%;
        padding-top: 10%;
        p {
            font-size: 30px;
            color: $black;
        }
        
        .carousel-caption {
            h3 {
                font-size: 14px;
                line-height: 22px;
                color: $black;
                font-family: $RobotoBold;
            }
            p {
                font-size: 12px;
                line-height: 20px;
                color: $black
            }
        }
    }
    .carousel-inner {
        border-radius: 6px;
    }
    
    .carousel-indicators {
        padding-bottom: 10px;
    }
    margin: 10px;
}

.inspiration-collections-header {
    padding-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}